*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'minhafonte';
    src: url('fonts/minhafonte.ttf') format('truetype');
}

body{
    font-family: 'minhafonte', sans-serif;
    height: auto;
    min-height: 100vh;
    width: auto;
    background-color: #1f2021;
    color: white;
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

nav{
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 17px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
}

nav li{
    display: inline;
    text-align: center;
    flex: 1;
    padding-top: 10px;
}

#logo{
    display: inline;
    margin-bottom: 10px;
}

a{
    color: inherit;
    text-decoration: none;
    font: inherit;
}

.parallaxlogo{
    width: 100vw;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container{
    position: relative;
    width: 100%;
    max-width: 400px;
    flex: 1;
}

.jogar{
    font-family: 'minhafonte', sans-serif;
    position: absolute;
    top: 67%;
    left: 175%;
    transform: translate(-60%, -60%);
    -ms-transform: translate(-50%, -50%);
    background-color: #447274;
    color: black;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.jogar:hover{
    background-color: #283023;
    color: white;
}

.devs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 18px;
}

.devs a{
    font: inherit;
    font-size: inherit;
    color: inherit;
}

div.gallery{
    border: 1px solid #ccc;
}

.gallery{
    overflow: hidden;
}

div.gallery:hover{
    border: 10px solid #27301b;
}
  
div.gallery img{
    width: 100%;
    height: auto;
    margin: 10px 0;
}
  
div.desc{
    padding: 15px;
    text-align: center;
}
  
*{
    box-sizing: border-box;
}
  
.responsive {
    display: flex;
    justify-content: center;
    width: 24.99999%;
    padding: 10px;
}
  
@media only screen and (min-width: 1201px) {
    .responsive {
        width: 24.99999%;
    }
}

@media only screen and (max-width: 1200px) {
    .responsive {
        width: 49%;
    }
}

@media only screen and (max-width: 768px) {
    .responsive {
        width: 100%;
    }
}
  
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: #48817A;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.footer li{
    display: inline;
}

.copyright{
    display: block;
    font-size: 12px;
}

.button{
    font-family: 'minhafonte', sans-serif;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1{
    background-color: #48817a; 
    color: white; 
    border: 2px solid #48817a;
}
  
.button1:hover{
    background-color: #133030;
    color: white;
}
  
.button2{
    background-color: #48817a; 
    color: white; 
    border: 2px solid #48817a;
}
  
.button2:hover{
    background-color: #133030;
    color: white;
}
  
.button3{
    background-color: #48817a; 
    color: white; 
    border: 2px solid #48817a;
}
  
.button3:hover{
    background-color: #133030;
    color: white;
}

.footer h2{
    font-size: 12px;
    gap: 10px;
    text-align: center;
    margin-bottom: 9px;
}